﻿@using Web_app.Models;
@using Web_app.Common;
@model List<NewsViewModel>

@foreach (var item in Model)
{
    <!-- Single Blog Post -->
    <div class="col-12 col-lg-6">
        <div class="single-blog-post mb-50">
            <!-- Thumbnail -->
            <div class="post-thumbnail">
                <a href="/Detail/@item.UrlGroupNews/@item.Url"><img src="@item.Img" alt="@item.Title"></a>
            </div>
            <!-- Content -->
            <div class="post-content">
                <p class="post-date">@comon.GetDate(DateTime.Parse(item.DateCreate))</p>
                <a href="/Detail/@item.UrlGroupNews/@item.Url" class="post-title">
                    <h4>@item.Title</h4>
                </a>
                <p class="post-excerpt">@Html.Raw(comon.TrimLength(item.Description ?? "", 100))</p>
            </div>
        </div>
    </div>
}

