﻿@using Web_app.Models;
@using Web_app.Common;
@model NewsViewModel
@{
    ViewBag.Img = "http://tuvilyso.org.vn/" + @Model.Img + "";
    ViewBag.Title = @HttpUtility.HtmlDecode(Model.SeoTitle != null ? Model.SeoTitle : Model.Title);
    ViewBag.Keyword = @HttpUtility.HtmlDecode(Model.SeoKeyWord != null ? Model.SeoKeyWord : Model.Title);
    ViewBag.Description = @HttpUtility.HtmlDecode(Model.SeoDesciption != null ? Model.SeoDesciption : Model.Description);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="/@Model.UrlGroupNews">@Model.DisplayGroupNews</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Blog Content Area Start ##### -->
<section class="blog-content-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Blog Posts Area -->
            <div class="col-12">

                <!-- Post Details Area -->
                <div class="single-post-details-area">
                    <div class="post-content">

                        <div class="text-center mb-50">
                            <p class="post-date">@comon.GetDate(DateTime.Parse(Model.DateCreate))</p>
                            <h2 class="post-title">@Model.Title</h2>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <a href="#"><span>by</span> @Model.UserCreate</a>
                            </div>
                        </div>

                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail mb-50">
                            <img src="@Model.Img" alt="@Model.Title">
                        </div>

                        <!-- Post Text -->
                        <div class="post-text">
                            <!-- Share -->
                            @*<div class="post-share">
                                    <span>Share</span>
                                    <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#" class="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="#" class="pin"><i class="fa fa-thumb-tack" aria-hidden="true"></i></a>
                                </div>*@
                            <p>@Html.Raw(Model.Detail ?? "")</p>
                            <!-- Related Post Area -->
                            <div class="related-posts clearfix">
                                <!-- Headline -->
                                <h4 class="headline">Một số bài viết khác</h4>

                                <div class="row">
                                    @Html.Action("BaiVietLienQuan", "News", new { IdGroupNews = Model.IdGroupNews, IdNews = Model.Id })
                                </div>
                            </div>

                            <!-- Comment Area Start -->
                            <div class="comment_area clearfix">
                                <h4 class="headline">Comments</h4>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Blog Content Area End ##### -->
