﻿ <!-- Blog Sidebar Area -->
<div class="col-12 col-sm-9 col-md-6 col-lg-4">
    <div class="post-sidebar-area">

        <!-- ##### Single Widget Area ##### -->
        @Html.Action("GioiThieuCaNhan", "News")

        <!-- ##### Single Widget Area ##### -->
        <div class="single-widget-area mb-30">
            <!-- Title -->
            <div class="widget-title">
                <h6>Mạng xã hội</h6>
            </div>
            <!-- Widget Social Info -->
            @Html.Action("SocialRight", "Home")
        </div>

        <!-- ##### Single Widget Area ##### -->
        <div class="single-widget-area mb-30">
            @Html.Action("TinCotPhai", "News")
        </div>

        <!-- ##### Single Widget Area ##### -->
        <div class="single-widget-area mb-30">
            @Html.Action("FanPage", "Home")
        </div>

        <!-- ##### Single Widget Area ##### -->
        <div class="single-widget-area mb-30">
            <!-- Title -->
            <div class="widget-title">
                <h6>Để lại email của bạn</h6>
            </div>
            <!-- Content -->
            @Html.Action("RegisterEmail", "Home")
        </div>

    </div>
</div>