﻿@using DataAccess.Entities;
@using Web_app.Common;
@model GroupNewsEntity
@{
    ViewBag.Img = "http://tuvilyso.org.vn/" + @Model.Img + "";
    ViewBag.Title = @HttpUtility.HtmlDecode(Model.Name ?? "");
    ViewBag.Keyword = @HttpUtility.HtmlDecode(Model.Name ?? "");
    ViewBag.Description = @HttpUtility.HtmlDecode(Model.Name ?? "");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #loadpage .list{
        float:left;
    }
    #phantrang {
        float: left;
        width: 100%;
    }
</style>
<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Blog Content Area Start ##### -->
<section class="blog-content-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Blog Posts Area -->
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">
                    <div class="row">
                        <div id="loadpage">
                            @Html.Action("PartialNews", "News", new { id = Model.Id, page = 1 })
                        </div>
                    </div>
                </div>

            </div>
            @Html.Action("CotPhai", "News")
        </div>
    </div>
</section>
<!-- ##### Blog Content Area End ##### -->
