﻿@using DataAccess.Entities;
@model List<NewsEntity>
@foreach (var item in Model.Take(1))
{
    <div class="single-widget-area mb-30">
        <!-- Title -->
        <div class="widget-title">
            <h6>Giới thiệu</h6>
        </div>
        <!-- Thumbnail -->
        <div class="about-thumbnail">
            <img src="@item.Img" alt="@item.Title">
        </div>
        <!-- Content -->
        <div class="widget-content text-center">
            <p>@Html.Raw(item.Description ?? "")</p>
        </div>
    </div>

}
