﻿@using DataAccess.Entities;
@using Web_app.Common;
@model GroupNewsEntity
@for (int i = 0; i < Model.ListNews.Take(5).Count(); i++)
{
    if (i == 0)
    {
        <!-- Featured Post Area -->
        <div class="col-12">
            <div class="featured-post-area mb-50">
                <!-- Thumbnail -->
                <div class="post-thumbnail mb-30">
                    <a href="/Detail/@Model.Url/@Model.ListNews[i].Url"><img src="@Model.ListNews[i].Img" alt="@Model.ListNews[i].Title"></a>
                </div>
                <!-- Featured Post Content -->
                <div class="featured-post-content">
                    <p class="post-date">@comon.GetDate(DateTime.Parse(Model.ListNews[i].DateCreate))</p>
                    <a href="/Detail/@Model.Url/@Model.ListNews[i].Url" class="post-title">
                        <h2>@Model.ListNews[i].Title</h2>
                    </a>
                    <p class="post-excerpt">@comon.TrimLength(@Model.ListNews[i].Description ?? "", 150)</p>
                </div>

            </div>
        </div>
    }
    else
    {
        <!-- Single Blog Post -->
        <div class="col-12 col-sm-6">
            <div class="single-blog-post mb-50">
                <!-- Thumbnail -->
                <div class="post-thumbnail">
                    <a href="/Detail/@Model.Url/@Model.ListNews[i].Url"><img src="@Model.ListNews[i].Img" alt="@Model.ListNews[i].Title"></a>
                </div>
                <!-- Content -->
                <div class="post-content">
                    <p class="post-date">@comon.GetDate(DateTime.Parse(Model.ListNews[i].DateCreate))</p>
                    <a href="/Detail/@Model.Url/@Model.ListNews[i].Url" class="post-title">
                        <h4>@Model.ListNews[i].Title</h4>
                    </a>
                    <p class="post-excerpt">@comon.TrimLength(@Model.ListNews[i].Description ?? "", 100)</p>
                </div>
            </div>
        </div>
    }

}



