﻿
<div class="search-form">
    <form action="/tim-kiem" method="post">
        <input type="search" name="key" class="form-control" placeholder="Nhập từ khóa tìm kiếm...">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>

