﻿@using Web_app.Models;
@model List<NewsViewModel>
@using Web_app.Common;
@{
    ViewBag.Img = "http://tuvilyso.org.vn/logo.png";
    ViewBag.Title = "Tìm kiếm";
    ViewBag.Keyword = "Tìm kiếm";
    ViewBag.Description = "Tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Kết quả tìm kiếm</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<section class="blog-content-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Blog Posts Area -->
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <!-- Single Blog Post -->
                            <div class="col-12 col-sm-6 list">
                                <div class="single-blog-post mb-50">
                                    <!-- Thumbnail -->
                                    <div class="post-thumbnail">
                                        <a href="/Detail/@item.UrlGroupNews/@item.Url"><img src="@item.Img" alt="@item.Title"></a>
                                    </div>
                                    <!-- Content -->
                                    <div class="post-content">
                                        <p class="post-date">@comon.GetDate(DateTime.Parse(item.DateCreate)) / @item.DisplayGroupNews</p>
                                        <a href="/Detail/@item.UrlGroupNews/@item.Url" class="post-title">
                                            <h4>@item.Title</h4>
                                        </a>
                                        <p class="post-excerpt">@comon.TrimLength(item.Description ?? "", 100)</p>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
            @Html.Action("CotPhai", "News")
        </div>
    </div>
</section>
