﻿@using DataAccess.Entities;
@model List<GroupNewsEntity>
@foreach (var item in Model.Take(1))
{
    <!-- Title -->
    <div class="widget-title">
        <h6>@item.Name</h6>
    </div>
    foreach (var itemNews in item.ListNews)
    {

        <!-- Single Latest Posts -->
        <div class="single-latest-post d-flex">
            <div class="post-thumb">
                <img src="@itemNews.Img" alt="@itemNews.Title">
            </div>
            <div class="post-content">
                <a href="/Detail/@item.Url/@itemNews.Url" class="post-title">
                    <h6>@itemNews.Title</h6>
                </a>
                <a href="/Detail/@item.Url/@itemNews.Url" class="post-author"><span>by</span> @itemNews.UserCreate</a>
            </div>
        </div>
    }
}

