﻿
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using Web_app.Models;
@model UserAdminViewModel

<style>
    #message {
        margin-top: 10px;
        padding: 10px;
        max-width: 25%;
    }
 
</style>
<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="feather icon-server bg-c-blue"></i>
                <div class="d-inline">
                    <h5>Thay đổi mật khẩu tài khoản quản trị</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                @if (TempData["MessageSuccess"] != null)
                {
                    <div class="alert alert-success icons-alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="icofont icofont-close-line-circled text-white"></i>
                        </button>
                        <strong>Thông báo!</strong> @TempData["MessageSuccess"].ToString()
                    </div>
                }
                @if (TempData["MessageError"] != null)
                {
                    <div class="alert alert-danger icons-alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="icofont icofont-close-line-circled text-white"></i>
                        </button>
                        <strong>Thông báo!</strong> @TempData["MessageError"].ToString()
                    </div>
                }
                <div id="MesageDelete" class="alert alert-info background-info" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="icofont icofont-close-line-circled"></i>
                    </button>
                    <p><strong>Thông báo!</strong> Xóa thông tin thành công</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <form action="/HomeAdmin/Change_Password" method="post">
                <div class="auth-box card">
                        <div class="card-block" style="padding-top:0">
                            <div class="dt-responsive">
                                <div id="multi-colum-dt_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12">
                                            <input name="Id" value="@Session["IdUser"].ToString()" type="hidden" />
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Tên công ty</label>
                                                <div class="col-sm-10">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Mật khẩu cũ</label>
                                                <div class="col-sm-10">
                                                    <input id="olldPass" class="form-control" type="text" onchange="CheckPass(this.value);" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Mật khẩu mới</label>
                                                <div class="col-sm-10">
                                                    <input id="newPass" name="Password" class="form-control" type="text" readonly />
                                                </div>
                                                <label class="col-sm-2 col-form-label"></label>
                                                <div class="col-sm-10">
                                                    <label class="bg-danger" id="message" style="display:none"></label>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-2" style="margin:0 auto">
                                                    <button type="submit" class="btn btn-primary btn-round waves-effect waves-light">Cập nhật</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

@section ViewSpecificJavascriptAdmin
    {
    <script src="~/Content/Datatable11019/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Datatable11019/js/dataTables.bootstrap4.min.js"></script>
    <link href="~/Content/Select2-403/css/select2.min.css" rel="stylesheet" />
    <script src="~/Content/Select2-403/js/select2.full.min.js"></script>
    <script src="~/Areas/Admin/Css/js/IndexAdmin.js"></script>
    <script src="~/Areas/Admin/Css/js/Config.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Content/ckfinder/ckfinder.js"></script>
    <script>
        function CheckPass(value) {
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/HomeAdmin/Check_Pass',
                data: JSON.stringify({ oldPass: value }),
                dataType: 'json',
                success: function (result) {
                    if (result.result === "Error") {
                        $("#olldPass").focus();
                        $("#message").html("Mật khẩu cũ không đúng!");
                        $('#message').css('display', 'block');
                        $('#newPass').prop('readonly', true);
                    }
                    else {
                        $('#message').css('display', 'none');
                        $('#newPass').prop('readonly', false);
                    }
                }
            });
        } 
    </script>
}

