﻿
@using Web_app.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quản trị website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Quản trị website" />
    <meta name="keywords" content="Quản trị website" />
    <meta name="author" content="Sơn béo" />

    <link rel="icon" href="~/Areas/Admin/img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/bower_components/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="/Areas/Admin/Css/files/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/icon/feather/css/feather.css">

    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/icon/themify-icons/themify-icons.css">

    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/icon/icofont/css/icofont.css">

    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/icon/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/css/pages.css">
</head>
<body themebg-pattern="theme1">

    <section class="login-block">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">

                    <form class="md-float-material form-material" action="@(Url.Action("LoginAdmin", "HomeAdmin"))" method="post">
                        <div class="text-center">
                            @*<img src="/Areas/Admin/Css/files/assets/images/logo.png" alt="logo.png">*@
                        </div>
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center txt-primary">Đăng nhập</h3>
                                    </div>
                                </div>
                                @*<div class="row m-b-20">
                                        <div class="col-md-6">
                                            <button class="btn btn-facebook m-b-20 btn-block"><i class="icofont icofont-social-facebook"></i>facebook</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-twitter m-b-20 btn-block"><i class="icofont icofont-social-twitter"></i>twitter</button>
                                        </div>
                                    </div>
                                    <p class="text-muted text-center p-b-5">Sign in with your regular account</p>*@
                                <div class="form-group form-primary">
                                    <input type="text" name="Username" class="form-control" required="">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Tài khoản</label>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="password" name="Password" class="form-control" required="">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Mật khẩu</label>
                                </div>
                                <div class="row m-t-25 text-left">
                                    <div class="col-12">
                                        <div class="checkbox-fade fade-in-primary">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                <span class="text-inverse">Ghi nhớ đăng nhập</span>
                                            </label>
                                        </div>
                                        <div class="forgot-phone text-right float-right">
                                            <a href="/quen-mat-khau" class="text-right f-w-600"> Quên mật khẩu?</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">ĐĂNG NHẬP</button>
                                    </div>
                                </div>
                                @if (TempData["Message"] != null)
                                {
                                        <div class="col-md-12" style="text-align:center">
                                            <label class="label label-danger">@TempData["Message"].ToString()</label>
                                        </div>
                                 } @*<p class="text-inverse text-left">Don't have an account?<a href="auth-sign-up-social.html"> <b>Register here </b></a>for free!</p>*@
                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>

    </section>

    <script type="text/javascript" src="/Areas/Admin/Css/files/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Css/files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Css/files/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Css/files/bower_components/bootstrap/js/bootstrap.min.js"></script>

    <script src="/Areas/Admin/Css/files/assets/pages/waves/js/waves.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="/Areas/Admin/Css/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>

    <script type="text/javascript" src="/Areas/Admin/Css/files/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Css/files/bower_components/modernizr/js/css-scrollbars.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Css/files/assets/js/common-pages.js"></script>

</body>
</html>
