﻿@using Web_app.Models;
@using Web_app.Common;
@model SanPhamViewModel
@{
    ViewBag.Img = "http://palletnamson.com/" + @Model.Img.Split(',')[0] + "";
    ViewBag.Title = @HttpUtility.HtmlDecode(Model.SeoTitle != null ? Model.SeoTitle : Model.TenSanPham);
    ViewBag.Keyword = @HttpUtility.HtmlDecode(Model.SeoKeyWord != null ? Model.SeoKeyWord : Model.TenSanPham);
    ViewBag.Description = @HttpUtility.HtmlDecode(Model.SeoDescription != null ? Model.SeoDescription : Model.TenSanPham);
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

<script>
    $(window).load(function () {
        $("body").removeClass();
        $("body").addClass('wrap_background');
    });
</script>

<div class="breadcrumb_background">
    <section class="bread-crumb">
        <span class="crumb-border"></span>
        <div class="container">
            <div class="rows">
                <div class="col-xs-12 a-left">
                    <ul class="breadcrumb">
                        <li class="home">
                            <a href="/"><span>Trang chủ</span></a>
                            <span class="mr_lr">&nbsp;<i class="fa fa-angle-right"></i>&nbsp;</span>
                        </li>
                        <li>
                            <a class="changeurl" href="/product/@Model.NhomSanPham.Url"><span>@Model.NhomSanPham.TenNhom</span></a>
                            <span class="mr_lr">&nbsp;<i class="fa fa-angle-right"></i>&nbsp;</span>
                        </li>

                        <li><strong><span>@Model.TenSanPham</span></strong></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="title_full">
        <div class="container a-center">
            <p class="title_page">@Model.TenSanPham</p>
            <input id="IdSanPham" value="@Model.Id" type="hidden" />
        </div>
    </div>
</div>

<section class="product f-left w_100">
    <div class="container margin-bottom-40">
        <div class="row">
            <div class="section wrap-padding-15">
                <div class="details-product col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="product-detail-left product-images col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="col_large_default large-image">
                                @foreach (var item in Model.Img.Split(','))
                                {
                                    if (i == 0)
                                    {
                                        <a href="@item.ToString()">
                                            <div style="height:418px;width:418px;" class="zoomWrapper">
                                                <div style="height:418px;width:418px;" class="zoomWrapper">
                                                    <img class="checkurl img-responsive" id="img_01" src="@item.ToString()"
                                                         alt="@Model.TenSanPham" style="position: absolute;">
                                                </div>
                                            </div>
                                        </a>
                                    }
                                    <div class="hidden">
                                        @if (i != 0)
                                        {
                                            <div class="item">
                                                <a href="@item.ToString()" data-image="@item.ToString()" data-zoom-image="@item.ToString()" data-rel="prettyPhoto[product-gallery]">
                                                </a>
                                            </div>
                                        }

                                    </div>
                                    i++;

                                }

                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 details-pro">

                            <div id="gallery_02" class="sonbeo owl-theme thumbnail-product thumb_product_details not-dqowl owl-loaded owl-drag" data-loop="false" data-lg-items="4" data-md-items="4" data-sm-items="3" data-xs-items="3" data-xxs-items="3">

                                <div class="owl-stage-outer owl-height" style="height: 85px;">
                                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 388px;">
                                        @{
                                            var listImg = Model.Img.Split(',');
                                            var lstData = listImg.Take(listImg.Length - 1).ToList();
                                            foreach (var item in lstData)
                                            {

                                                <div class="owl-item active" style="width: 87px; margin-right: 10px;">
                                                    <div class="item">
                                                        <a href="javascript:void(0)" data-image="@item.ToString()" data-zoom-image="@item.ToString()">
                                                            <img data-img="@item.ToString()" src="@item.ToString()" data-was-processed="true" alt="@Model.TenSanPham">
                                                        </a>
                                                    </div>
                                                </div>

                                            }
                                        }
                                    </div>
                                </div><div class="owl-nav disabled"><div class="owl-prev disabled">prev</div><div class="owl-next disabled">next</div></div><div class="owl-dots disabled"></div>
                            </div>

                            <h1 class="title-product"><i class="fa fa-cut"></i> @Model.TenSanPham</h1>
                            <div class="fw w_100" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
                                <div class="group-status">
                                    <span class="first_status">Loại sản phẩm: <span class="status_name">@Model.NhomSanPham.TenNhom</span></span>
                                    <span class="first_status status_2">
                                        <span class="line_tt">|</span> Hotline:

                                        <span class="status_name availabel hasvariant"><link itemprop="availability" href="#">091 1714 123</span>

                                    </span>
                                </div>

                                <div class="price-box">

                                    <span class="special-price">
                                        <span class="price product-price">@comon.FormatPrice(decimal.Parse(Model.GiaKhuyenMai ?? Model.GiaBan)) ₫</span>
                                        <meta itemprop="price" content="@(Model.GiaKhuyenMai ?? Model.GiaBan)"><meta itemprop="priceCurrency" content="VND">
                                    </span>
                                    @if (!string.IsNullOrEmpty(Model.GiaBan) && !string.IsNullOrEmpty(Model.GiaKhuyenMai))
                                    {
                                        <span class="old-price" itemprop="priceSpecification" itemscope="">
                                            <del class="price product-price-old sale">@comon.FormatPrice(decimal.Parse(Model.GiaBan)) ₫</del>
                                            <meta itemprop="price" content="@Model.GiaBan"><meta itemprop="priceCurrency" content="VND">
                                        </span> <!-- Gi&aacute; g&#7889;c -->
                                    }
                                </div>
                            </div>
                            <div class="form-product col-sm-12">
                                <div class="form-inline margin-bottom-0">
                                    <div class="form-group form_button_details">
                                        <div class="form_product_content">
                                            <div class="button_actions clearfix">
                                                <button type="button" class="btn btn_base"><span class="text_1">Mua ngay</span></button>
                                                <button type="button" id="btnCart" class="btn btn_base"><span class="text_1">Thêm vào giỏ hàng</span></button>
                                                <div class="buysll" onclick="location.href='tel:0911714123';">
                                                    <p>Hotline</p>
                                                    <span>Gọi ngay 091 1714 123</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab_h col-xs-12 col-lg-12 col-sm-12 col-md-12">
                            <div class="section">
                                <!-- Nav tabs -->
                                <div class="product-tab e-tabs not-dqtab">
                                    <ul class="tabs tabs-title clearfix">
                                        <li class="tab-link current" data-tab="tab-1">
                                            <h3><span>Mô tả sản phẩm</span></h3>
                                        </li>

                                    </ul>
                                    <div class="tab-float">

                                        <div id="tab-1" class="tab-content content_extab current">
                                            <div class="rte">

                                                <p>
                                                    @Html.Raw(Model.ChiTiet ?? "")
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 owl_nav_custome1 related-product margin-top-20 xs-margin-top-15 margin-bottom-30">
                <div class="wrap_bg_in">
                    <div class="section_prd_feature">
                        <div class="title_section_module a-left section">
                            <h2><a href="giay-tang-chieu-cao.html" title="Sản phẩm cùng loại">Sản phẩm cùng loại</a></h2>
                        </div>
                        <div class="section products product_related products-view-grid-bb owl-carousel owl-theme products-view-grid not-dot2 owl-loaded owl-drag" data-dot="false" data-nav="false" data-lg-items="5" data-md-items="5" data-sm-items="3" data-xs-items="2" data-margin="15">

                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 462px;">
                                    @Html.Action("SanPhamLienQuan", "SanPham", new { IdOld = Model.Id, IdNhom = Model.IdNhomSanPham })
                                </div>
                            </div><div class="owl-nav disabled"><div class="owl-prev disabled">prev</div><div class="owl-next disabled">next</div></div><div class="owl-dots disabled"><div class="owl-dot active"><span></span></div></div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>
<script>
    $('#btnCart').click(function () {
       
        var idSp = $("#IdSanPham").val();
        var data = {
            Id: idSp
        };
        var dataToSend = JSON.stringify(data);
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '/SanPham/Set_Gio_Hang',
            dataType: "json",
            data: dataToSend,
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                var numberPro = $("#SoGioHang").text();
                if (numberPro == "" || numberPro == null) {
                    numberPro = 0;
                }
                numberPro = parseFloat(numberPro) + 1;
                $("#SoGioHang").text(numberPro);
            }
        });
    });
    
</script>