﻿@using Web_app.Models;
@using Web_app.Common;
@using PagedList.Mvc;
@model  PagedList.IPagedList<SanPhamViewModel>
@{
    ViewBag.Img = "http://palletnamson.com/" + @Model.FirstOrDefault().NhomSanPham.Img + "";
    ViewBag.Title = @HttpUtility.HtmlDecode(Model.FirstOrDefault().NhomSanPham.SeoTitle != null ? Model.FirstOrDefault().NhomSanPham.SeoTitle : Model.FirstOrDefault().NhomSanPham.TenNhom);
    ViewBag.Keyword = @HttpUtility.HtmlDecode(Model.FirstOrDefault().NhomSanPham.SeoKeyWord != null ? Model.FirstOrDefault().NhomSanPham.SeoKeyWord : Model.FirstOrDefault().NhomSanPham.TenNhom);
    ViewBag.Description = @HttpUtility.HtmlDecode(Model.FirstOrDefault().NhomSanPham.SeoDescription != null ? Model.FirstOrDefault().NhomSanPham.SeoDescription : Model.FirstOrDefault().NhomSanPham.TenNhom);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(window).load(function () {
        $("body").removeClass();
        $("body").addClass('wrap_background');
    });
</script>
<div class="breadcrumb_background">
    <section class="bread-crumb">
        <span class="crumb-border"></span>
        <div class="container">
            <div class="rows">
                <div class="col-xs-12 a-left">
                    <ul class="breadcrumb">
                        <li class="home">
                            <a href="/"><span>Trang chủ</span></a>
                            <span class="mr_lr">&nbsp;<i class="fa fa-angle-right"></i>&nbsp;</span>
                        </li>
                        <li><strong><span>@Model.FirstOrDefault().NhomSanPham.TenNhom</span></strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </section><div class="title_full">
        <div class="container a-center">
            <h1 class="title_page">@Model.FirstOrDefault().NhomSanPham.TenNhom</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="background_aside_wrap section">
        <div class="row">
            <div class="bg_collection">

                <div class="main_container collection col-lg-12 col-lg-12-fix padding-col-left-0">
                    <div class="category-products products">
                        <section class="products-view products-view-grid collection_reponsive list_hover_pro">


                            <div class="row rows_custome" id="lstSp">
                                @foreach (var item in Model)
                                {
                                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col col_custome">
                                        <div class="item_product_main margin-bottom-20 item_product_main_relative itemcustome  thumb_collection">

                                            <div class="product-box product-item-main product-item-compare">
                                                <div class="product-thumbnail">
                                                    <a class="image_thumb p_img thumb_cls_m " href="/product/@item.NhomSanPham.Url/@item.Url" title="@item.TenSanPham">
                                                        <img src="@item.Img.Split(',')[0]" alt="@item.TenSanPham">
                                                    </a>
                                                </div>
                                                <div class="product-info product-bottom mh">
                                                    <h3 class="product-name"><a href="/product/@item.NhomSanPham.Url/@item.Url" title="@item.TenSanPham">@item.TenSanPham</a></h3>
                                                    <div class="block-width-min-height">
                                                        <div class="blockprice">
                                                            <div class="product-item-price price-box">
                                                                <span class="special-price">
                                                                    <span class="price product-price">@comon.FormatPrice(decimal.Parse(item.GiaKhuyenMai ?? item.GiaBan)) ₫</span>
                                                                </span>
                                                                @if (!string.IsNullOrEmpty(item.GiaBan) && !string.IsNullOrEmpty(item.GiaKhuyenMai))
                                                                {
                                                                    <span class="product-item-price-sale old-price">
                                                                        <span class="compare-price price product-price-old">@comon.FormatPrice(decimal.Parse(item.GiaBan)) ₫</span>
                                                                    </span>
                                                                }
                                                            </div>
                                                        </div>
                                                        <a href="/product/@item.NhomSanPham.Url/@item.Url" class="a_url hidden-xs hidden-sm hidden-md" title="Chi tiết">
                                                            Chi tiết
                                                        </a>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>


                        </section>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">

                @if (Model.Count > 0)
                {
                    <nav class="clearfix relative nav_pagi f-left w_100">
                        @Html.PagedListPager(Model, page => Url.Action("DanhSachSanPham", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                        new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            UlElementClasses = new[] { "pagination clearfix" },
                            LinkToFirstPageFormat = "<i class=\"fa fa-angle-double-left\"></i>",
                            LinkToPreviousPageFormat = "<i class=\"fa fa-angle-left\"></i>",
                            LinkToNextPageFormat = "<i class=\"fa fa-angle-right\"></i>",
                            LinkToLastPageFormat = "<i class=\"fa fa-angle-double-right\"></i>",
                            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                            DisplayLinkToLastPage = PagedListDisplayMode.Always,
                            DisplayLinkToNextPage = PagedListDisplayMode.Always,
                            MaximumPageNumbersToDisplay = 5,
                        },
                        new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "lstSp" }))
                    </nav>
                }

            </div>
        </div>

    </div>
</div>

<script>
    $('.pagination li a').addClass("page-link");
</script>
