﻿
@using Web_app.Models;
@using Web_app.Common;
@model List<SanPhamViewModel>
@{
    ViewBag.Img = "http://palletnamson.com/";
    ViewBag.Title = "Giỏ hàng";
    ViewBag.Keyword = "Giỏ hàng";
    ViewBag.Description = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb_background">
    <section class="bread-crumb">
        <span class="crumb-border"></span>
        <div class="container">
            <div class="rows">
                <div class="col-xs-12 a-left">
                    <ul class="breadcrumb">
                        <li class="home">
                            <a href="/"><span>Trang chủ</span></a>
                            <span class="mr_lr">&nbsp;<i class="fa fa-angle-right"></i>&nbsp;</span>
                        </li>

                        <li><strong><span>Giỏ hàng</span></strong></li>

                    </ul>
                </div>
            </div>
        </div>
    </section><div class="title_full">
        <div class="container a-center">
            <p class="title_page">Giỏ hàng</p>
        </div>
    </div>

</div>

<section class="main-cart-page main-container col1-layout">
    @if (Model.Count == 0)
    {
        <div class="main container hidden-xs">
            <div class="wrap_background_aside  margin-bottom-40">
                <div class="header-cart">
                    <h1 class="title_cart">
                        <a href="/">Bạn chưa chọn sản phẩm nào <span>(<span class="cart-popup-count"></span> tiếp tục mua)</span></a>
                    </h1>
                    <div class="header-cart title_cart_pc hidden-sm hidden-xs">

                    </div>
                </div>
                <div class="col-main cart_desktop_page cart-page">

                </div>
            </div>
        </div>


    }
    else
    {
        <div class="main container hidden-xs">
            <div class="wrap_background_aside  margin-bottom-40">
                <div class="header-cart">
                    <h1 class="title_cart">
                        <a href="#">Giỏ hàng của bạn <span>(<span class="cart-popup-count">@Model.Count()</span> sản phẩm)</span></a>
                    </h1>
                    <div class="header-cart title_cart_pc hidden-sm hidden-xs">

                    </div>
                </div>
                <div class="col-main cart_desktop_page cart-page">
                    <div class="cart page_cart cart_des_page hidden-xs-down">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd-right cart_desktop ">
                            <div class="bg-scroll">
                                <div class="cart-thead">
                                    <div class="text-left" style="width: 43%">
                                        <span>Sản phẩm<span></span></span>
                                    </div>
                                    <div style="width: 19%" class="a-center">
                                        <span class="nobr">Giá</span>
                                    </div>
                                    <div style="width: 13%" class="a-center">Số lượng</div>
                                    <div style="width: 25%" class="a-center">Thành tiền</div>
                                </div>
                                <div class="cart-tbody">
                                    @foreach (var item in Model)
                                    {
                                        <input id="Id-@item.Id" class="ma-san-pham" value="@item.Id" type="hidden" />
                                        <div class="item-cart productid-@item.Id">
                                            <div class="content_ content_s" style="width: 15%">
                                                <a class="product-image" title="@item.TenSanPham" href="/product/@item.NhomSanPham.Url/@item.Url">
                                                    <img width="75" height="auto" alt="@item.TenSanPham" src="@item.Img.Split(',')[0]">
                                                </a>
                                            </div>
                                            <div class="content_ content_s" style="width: 28%">
                                                <h3 class="product-name">
                                                    <a class="text2line" href="/product/@item.NhomSanPham.Url/@item.Url" title="@item.TenSanPham">@item.TenSanPham</a>
                                                </h3>
                                                <a class="button remove-item remove-item-cart" onclick="XoaSanPhamTrongGio(@item.Id);" title="Xoá sản phẩm" href="javascript:;" data-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i> Xóa sản phẩm</a>
                                            </div>
                                            <div style="width: 20%" class="a-center">
                                                <span class="item-price">
                                                    <span id="GiaBan-@item.Id" class="price bold-price fuck-boy">@comon.FormatPrice(decimal.Parse(item.GiaKhuyenMai ?? item.GiaBan)) </span><span class="price bold-price">
                                                        ₫
                                                    </span>
                                                </span>
                                            </div>
                                            <div style="width: 15%" class="a-center">
                                                <div class="input_qty_pr_custom">
                                                    <a id="tru-@item.Id" class="items-count btn-minus" onclick="GiamSoLuong(@item.Id);">–</a>
                                                    <input type="text" maxlength="4" min="0" class="input-text number-sidebar" id="Quanlity-@item.Id" size="4" value="@item.SoLuong">
                                                    <a id="cong-@item.Id" class="items-count btn-plus" onclick="TangSoLuong(@item.Id);">+</a>
                                                </div>
                                            </div>
                                            <div style="width: 22%" class="a-center"><span class="item-price cart-price"> <span class="price pink tonggia-soluong" id="TongGia-@item.Id"></span> </span></div>
                                        </div>
                                    }

                                </div>
                                <div class="btn_bottom">
                                    <a href="/" class="button btn-continue" title="Tiếp tục mua hàng">
                                        <span><span>Tiếp tục mua hàng</span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 cart-collaterals cart_submit row col-lg-offset-8 col-md-offset-8  col-sm-offset-6">
                            <div class="totals">
                                <div class="totals">
                                    <div class="inner">
                                        <div class="wrap_checkprice">
                                            <div class="li_table shopping-cart-table-total">
                                                <span class="li-left li_text">Thành tiền:</span><span class="li-right totals_price price" id="thanhTien"></span>
                                            </div>
                                        </div>
                                        <div class="wrap_btn">
                                            <a class="button btn-proceed-checkout" href="/thanh-toan" title="Tiến hành thanh toán">
                                                <span>Tiến hành thanh toán</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrap_background_aside margin-bottom-40 padding-left-0 padding-right-0 hidden-md hidden-lg hidden-sm">
            <div class="cart-mobile">
                <div class="margin-bottom-0">
                    <div class="header-cart">

                        <div class="title-cart title_cart_mobile">
                            <h3>Giỏ hàng của bạn</h3>
                        </div>

                    </div>

                    <div class="header-cart-content" style="background:#fff;">
                        <div class="cart_page_mobile content-product-list">
                            @foreach (var item in Model)
                            {
                                <input id="Id-Mobile-@item.Id" class="ma-san-pham-Mobile" value="@item.Id" type="hidden" />
                                <div class="item-product item productid-Mobile-@item.Id ">
                                    <div class="item-product-cart-mobile">
                                        <a href="/product/@item.NhomSanPham.Url/@item.Url">	</a>
                                        <a class="product-images1" href="" title="@item.TenSanPham">
                                            <img width="80" height="150" src="@item.Img.Split(',')[0]" alt="@item.TenSanPham">
                                        </a>
                                    </div>
                                    <div class="title-product-cart-mobile">
                                        <h3>
                                            <a href="/product/@item.NhomSanPham.Url/@item.Url" title="@item.TenSanPham">@item.TenSanPham</a>
                                        </h3>
                                        <p>Giá: <span id="GiaBan-Mobile-@item.Id" class="fuck-boy-Mobile">@comon.FormatPrice(decimal.Parse(item.GiaKhuyenMai ?? item.GiaBan))</span></p>
                                    </div>
                                    <div class="select-item-qty-mobile">
                                        <div class="txt_center">
                                            <button class="reduced items-count btn-minus" id="tru-Mobile-@item.Id" onclick="GiamSoLuongMobile(@item.Id);">–</button>
                                            <input type="text" maxlength="4" min="1" class="input-text number-sidebar quan" id="Quanlity-Mobile-@item.Id" size="4" value="@item.SoLuong">
                                            <button id="cong-Mobile-@item.Id" onclick="TangSoLuongMobile(@item.Id);" class="increase items-count btn-plus">+</button>
                                        </div>
                                        <a onclick="XoaSanPhamTrongGioMobile(@item.Id);" class="button remove-item remove-item-cart" href="javascript:;" data-id="@item.Id">Xoá</a>
                                        <input class="tonggia-soluong-Mobile" id="TongGia-Mobile-@item.Id" type="hidden" />
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="header-cart-price" style="">
                            <div class="title-cart">
                                <h3 class="text-xs-left" style="float: left;">Tổng tiền</h3><a class="text-xs-right pull-right totals_price_mobile" id="thanhTienMobile"></a>
                            </div>
                            <div class="checkout">
                                <button class="btn-proceed-checkout-mobile" title="Tiến hành thanh toán" type="button" onclick="window.location.href='/thanh-toan'">
                                    <span>Tiến hành thanh toán</span>
                                </button>
                                <button class="btn btn-white f-left" title="Tiếp tục mua hàng" type="button" onclick="window.location.href='/'">
                                    <span>Tiếp tục mua hàng</span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }

</section><!-- Add to cart -->
<script>
    $(window).load(function () {
        $("body").removeClass();
        $("body").addClass('wrap_background');
    });
    $(".ma-san-pham").each(function (index) {
        var Id = $(this).val();
        var DonGia = $("#GiaBan-" + Id).text().replace(',', '');
        var SoLuong = $("#Quanlity-" + Id).val();
        var tong = parseFloat(DonGia) * parseFloat(SoLuong);
        $("#TongGia-" + Id).text(formatPrice_Edit(tong) + " ₫");
        // check số lượng nếu bằng 1 thì không đc giảm nữa
        var sl = $("#Quanlity-" + Id).val();
        if (sl == "1") {
            $("#tru-" + Id).prop("disabled", true);
        }
        else {
            $("#tru-" + Id).prop("disabled", false);
        }

    });

    var setTongGia = function () {
        var sum = 0;
        $(".tonggia-soluong").each(function (index) {
            var gia = $(this).text().replace(',', '')
            sum = parseFloat(sum) + parseFloat(gia);
            $("#thanhTien").text(formatPrice_Edit(sum) + " ₫");
        });
    }
    setTongGia();
    function XoaSanPhamTrongGio(Id) {
        $(".productid-" + Id).empty();
        $(".productid-" + Id).remove();
        $("#Id-" + Id).remove();
        setTongGia();
        var lisstId = [];
        // set lại số lượng của sản phẩm còn trong giỏ
        $(".ma-san-pham").each(function (index) {
            var Id = $(this).val();
            var slll = parseFloat($("#Quanlity-" + Id).val());
            for (i = 0; i < slll; i++) {
                lisstId.push(Id);
            }
        });
        var data = {
            Id: lisstId
        };
        var dataToSend = JSON.stringify(data);
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '/SanPham/CapNhat_Gio_Hang',
            dataType: "json",
            data: dataToSend,
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $("#SoGioHang").text(lisstId.length);
            }
        });
    }

    function GiamSoLuong(Id) {
        var slnew = parseFloat($("#Quanlity-" + Id).val()) - 1;
        $("#Quanlity-" + Id).val(slnew);
        var DonGia = $("#GiaBan-" + Id).text().replace(',', '');
        var SoLuong = $("#Quanlity-" + Id).val();
        var tong = parseFloat(DonGia) * parseFloat(SoLuong);
        $("#TongGia-" + Id).text(formatPrice_Edit(tong) + " ₫");
        setTongGia();
        var lisstId = [];
        // set lại số lượng của sản phẩm còn trong giỏ
        $(".ma-san-pham").each(function (index) {
            var Id = $(this).val();
            var slll = parseFloat($("#Quanlity-" + Id).val());
            for (i = 0; i < slll; i++) {
                lisstId.push(Id);
            }
        });
        var data = {
            Id: lisstId
        };
        var dataToSend = JSON.stringify(data);
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '/SanPham/CapNhat_Gio_Hang',
            dataType: "json",
            data: dataToSend,
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $("#SoGioHang").text(lisstId.length);
            }
        });
    }
    function TangSoLuong(Id) {
        var slnew = parseFloat($("#Quanlity-" + Id).val()) + 1;
        $("#Quanlity-" + Id).val(slnew);
        var DonGia = $("#GiaBan-" + Id).text().replace(',', '');
        var SoLuong = $("#Quanlity-" + Id).val();
        var tong = parseFloat(DonGia) * parseFloat(SoLuong);
        $("#TongGia-" + Id).text(formatPrice_Edit(tong) + " ₫");
        setTongGia();
        var lisstId = [];
        // set lại số lượng của sản phẩm còn trong giỏ
        $(".ma-san-pham").each(function (index) {
            var Id = $(this).val();
            var slll = parseFloat($("#Quanlity-" + Id).val());
            for (i = 0; i < slll; i++) {
                lisstId.push(Id);
            }
        });
        var data = {
            Id: lisstId
        };
        var dataToSend = JSON.stringify(data);
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '/SanPham/CapNhat_Gio_Hang',
            dataType: "json",
            data: dataToSend,
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $("#SoGioHang").text(lisstId.length);
            }
        });
    }
    function formatPrice_Edit(price) {
        return price.toString().replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    }

    //Mobile
    $(".ma-san-pham-Mobile").each(function (index) {
        var Id = $(this).val();
        var DonGia = $("#GiaBan-Mobile-" + Id).text().replace(',', '');
        var SoLuong = $("#Quanlity-Mobile-" + Id).val();
        var tong = parseFloat(DonGia) * parseFloat(SoLuong);
        $("#TongGia-Mobile-" + Id).val(formatPrice_Edit(tong) + " ₫");
        // check số lượng nếu bằng 1 thì không đc giảm nữa
        var sl = $("#Quanlity-Mobile-" + Id).val();
        if (sl == "1") {
            $("#tru-Mobile-" + Id).prop("disabled", true);
        }
        else {
            $("#tru-Mobile-" + Id).prop("disabled", false);
        }

    });

    var setTongGiaMobile = function () {
        var sum = 0;
        $(".tonggia-soluong-Mobile").each(function (index) {
            var gia = $(this).val().replace(',', '')
            sum = parseFloat(sum) + parseFloat(gia);
            $("#thanhTienMobile").text(formatPrice_Edit(sum) + " ₫");
        });
    }
   setTongGiaMobile();
    function XoaSanPhamTrongGioMobile(Id) {
        $(".productid-Mobile-" + Id).empty();
        $(".productid-Mobile-" + Id).remove();
        $("#Id-Mobile-" + Id).remove();
        setTongGiaMobile();
        var lisstId = [];
        // set lại số lượng của sản phẩm còn trong giỏ
        $(".ma-san-pham-Mobile").each(function (index) {
            var Id = $(this).val();
            var slll = parseFloat($("#Quanlity-Mobile-" + Id).val());
            for (i = 0; i < slll; i++) {
                lisstId.push(Id);
            }
        });
        var data = {
            Id: lisstId
        };
        var dataToSend = JSON.stringify(data);
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '/SanPham/CapNhat_Gio_Hang',
            dataType: "json",
            data: dataToSend,
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $("#SoGioHang").text(lisstId.length);
            }
        });
    }

    function GiamSoLuongMobile(Id) {
        var slnew = parseFloat($("#Quanlity-Mobile-" + Id).val()) - 1;
        $("#Quanlity-Mobile-" + Id).val(slnew);
        var DonGia = $("#GiaBan-Mobile-" + Id).text().replace(',', '');
        var SoLuong = $("#Quanlity-Mobile-" + Id).val();
        var tong = parseFloat(DonGia) * parseFloat(SoLuong);
        $("#TongGia-Mobile-" + Id).val(formatPrice_Edit(tong) + " ₫");
        setTongGiaMobile();
        var lisstId = [];
        // set lại số lượng của sản phẩm còn trong giỏ
        $(".ma-san-pham-Mobile").each(function (index) {
            var Id = $(this).val();
            var slll = parseFloat($("#Quanlity-Mobile-" + Id).val());
            for (i = 0; i < slll; i++) {
                lisstId.push(Id);
            }
        });
        var data = {
            Id: lisstId
        };
        var dataToSend = JSON.stringify(data);
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '/SanPham/CapNhat_Gio_Hang',
            dataType: "json",
            data: dataToSend,
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $("#SoGioHang").text(lisstId.length);
            }
        });
    }
    function TangSoLuongMobile(Id) {
        var slnew = parseFloat($("#Quanlity-Mobile-" + Id).val()) + 1;
        $("#Quanlity-Mobile-" + Id).val(slnew);
        var DonGia = $("#GiaBan-Mobile-" + Id).text().replace(',', '');
        var SoLuong = $("#Quanlity-Mobile-" + Id).val();
        var tong = parseFloat(DonGia) * parseFloat(SoLuong);
        $("#TongGia-Mobile-" + Id).val(formatPrice_Edit(tong) + " ₫");
        setTongGiaMobile();
        var lisstId = [];
        // set lại số lượng của sản phẩm còn trong giỏ
        $(".ma-san-pham-Mobile").each(function (index) {
            var Id = $(this).val();
            var slll = parseFloat($("#Quanlity-Mobile-" + Id).val());
            for (i = 0; i < slll; i++) {
                lisstId.push(Id);
            }
        });
        var data = {
            Id: lisstId
        };
        var dataToSend = JSON.stringify(data);
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '/SanPham/CapNhat_Gio_Hang',
            dataType: "json",
            data: dataToSend,
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $("#SoGioHang").text(lisstId.length);
            }
        });
    }

</script>