﻿@using Web_app.Models;
@using Web_app.Common;
@model List<NhomSanPhamViewModel>

@foreach (var item in Model)
{
    <section class="awe-section-4">
        <section class="section_sneaker_nangdong">
            <div class="container">
                <div class="wrap_f section">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                            <a href="#" class="block" title="@item.TenNhom">
                                <img src="@item.Img" alt="@item.TenNhom">
                            </a>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                            <div class="wrap_destitle section">
                                <div class="section title_section_module a-left margin-bottom-20">
                                    <h2><a href="/product/@item.Url" title="@item.TenNhom">@item.TenNhom</a></h2>
                                </div>
                                <p class="des ">@Html.Raw(item.Mota ?? "")</p>
                                <a class="more" href="/product/@item.Url" title="Xem tất cả">Xem tất cả</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap_bg_in">
                    <div class="section owl_nav_custome2">
                        <div class="owl-carousel " data-dot="false" data-nav="true" data-loop="false" data-play="true" data-lg-items="5" data-md-items="5" data-sm-items="4" data-xs-items="2" data-margin="15">
                            @foreach (var itemPro in item.lstSanPham)
                            {
                                <div class="item">
                                    <div class="item_product_main itemcustome">
                                        <div class="product-box product-item-main product-item-compare">
                                            <div class="product-thumbnail">
                                                <a class="image_thumb p_img" href="/product/@item.Url/@itemPro.Url" title="@itemPro.TenSanPham">
                                                    <img src="@itemPro.Img.Split(',')[0]" alt="@itemPro.TenSanPham">
                                                </a>
                                            </div>
                                            <div class="product-info product-bottom mh">
                                                <h3 class="product-name"><a href="/product/@item.Url/@itemPro.Url" title="@itemPro.TenSanPham">@itemPro.TenSanPham</a></h3>
                                                <div class="block-width-min-height">
                                                    <div class="blockprice">
                                                        <div class="product-item-price price-box">
                                                            <span class="special-price">
                                                                <span class="price product-price">@comon.FormatPrice(itemPro.GiaKhuyenMai != null ? itemPro.GiaKhuyenMai : itemPro.GiaBan) ₫</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <a href="/product/@item.Url/@itemPro.Url" class="a_url hidden-xs hidden-sm hidden-md" title="Chi tiết">
                                                        Chi tiết
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
}

