﻿@using Web_app.Models;
@model List<NhomSanPhamViewModel>
@{
    int i = 0;
}
@foreach (var item in Model)
{
    if (i == 0)
    {
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 item_proprety">
            <div class="wrap_banner">
                <img src="@item.Img" />
                <div class="wr_title">
                    <div class="wrap_title_ed">
                        <h2 class="h2"><a href="/product/@item.Url" title="@item.TenNhom">@item.TenNhom</a></h2>
                        <p>@item.lstSanPham.Count() sản phẩm</p>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 item_proprety">
            <div class="wrap_banner">
                <img src="@item.Img" />
                <div class="wr_title">
                    <div class="wrap_title_ed">
                        <h2 class="h2"><a href="/product/@item.Url" title="@item.TenNhom">@item.TenNhom</a></h2>
                        <p>@item.lstSanPham.Count() sản phẩm</p>
                    </div>
                </div>
            </div>
        </div>
    }
    i++;
}

