﻿@using Web_app.Models;
@using Web_app.Common;
@model List<SanPhamViewModel>
@foreach (var item in Model)
{
    <div class="item">
        <div class="item_product_main itemcustome">
            <div class="product-box product-item-main product-item-compare">
                <div class="product-thumbnail">
                    <a class="image_thumb p_img" href="/product/@item.NhomSanPham.Url/@item.Url" title="@item.TenSanPham">
                        <img src="@item.Img.Split(',')[0]" alt="@item.TenSanPham">
                    </a>
                </div>
                <div class="product-info product-bottom mh">
                    <h3 class="product-name"><a href="/product/@item.NhomSanPham.Url/@item.Url" title="@item.TenSanPham">@item.TenSanPham</a></h3>
                    <div class="block-width-min-height">
                        <div class="blockprice">
                            <div class="product-item-price price-box">
                                <span class="special-price">
                                    <span class="price product-price">@comon.FormatPrice(decimal.Parse(item.GiaKhuyenMai ?? item.GiaBan)) ₫</span>
                                </span>
                                @if (!string.IsNullOrEmpty(item.GiaBan) && !string.IsNullOrEmpty(item.GiaKhuyenMai))
                                {
                                    <span class="product-item-price-sale old-price">
                                        <span class="compare-price price product-price-old">@comon.FormatPrice(decimal.Parse(item.GiaBan)) ₫</span>
                                    </span>
                                }
                            </div>
                        </div>
                        <a href="/product/@item.NhomSanPham.Url/@item.Url" class="a_url hidden-xs hidden-sm hidden-md" title="Chi tiết">
                            Chi tiết
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}