﻿
@using Web_app.Models;
@using Web_app.Common;
@model List<SanPhamViewModel>
@{
    ViewBag.Img = "http://palletnamson.com/";
    ViewBag.Title = "Thanh toán";
    ViewBag.Keyword = "Thanh toán";
    ViewBag.Description = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="breadcrumb_background">
        <section class="bread-crumb">
            <span class="crumb-border"></span>
            <div class="container">
                <div class="rows">
                    <div class="col-xs-12 a-left">
                        <ul class="breadcrumb">
                            <li class="home">
                                <a href="/"><span>Trang chủ</span></a>
                                <span class="mr_lr">&nbsp;<i class="fa fa-angle-right"></i>&nbsp;</span>
                            </li>

                            <li><strong><span>Thanh toán</span></strong></li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="title_full">
            <div class="container a-center">
                <p class="title_page">Thông tin đơn hàng của bạn</p>
            </div>
        </div>
    </div>
<section class="product f-left w_100">
    <div class="container margin-bottom-40">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="main__content">
                    <article class="animate-floating-labels">
                        <div class="col col--two">
                            <section class="section">

                                <div class="section__content">
                                    <div class="fieldset">

                                        <div class="field " data-bind-class="{'field--show-floating-label': billing.name}">
                                            <div class="field__input-wrapper">
                                                <label class="field__label">Họ và tên</label>
                                                <input id="Name" type="text" class="field__input">
                                            </div>

                                        </div>

                                        <div class="field " data-bind-class="{'field--show-floating-label': billing.phone}">
                                            <div class="field__input-wrapper">
                                                <label class="field__label">
                                                    Số điện thoại
                                                </label>
                                                <input id="Sdt" type="number"style="height:40px" class="field__input">
                                            </div>

                                        </div>


                                        <div class="field " data-bind-class="{'field--show-floating-label': billing.address}">
                                            <div class="field__input-wrapper">
                                                <label for="billingAddress" class="field__label">
                                                    Địa chỉ
                                                </label>
                                                <input id="DiaChi" type="text" class="field__input">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </section>

                            <div class="fieldset">
                                <div class="field " data-bind-class="{'field--show-floating-label': note}">
                                    <div class="field__input-wrapper">
                                        <label for="note" class="field__label">
                                            Ghi chú
                                        </label>
                                        <textarea id="GhiChu" type="text" class="field__input"></textarea>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </article>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <aside class="sidebar">
                    <div class="sidebar__content">
                        <div id="order-summary" class="order-summary order-summary--is-collapsed">
                            <div class="order-summary__sections">
                                <div class="order-summary__section order-summary__section--product-list order-summary__section--is-scrollable order-summary--collapse-element">
                                    <table class="product-table">
                                        <caption class="visually-hidden">Chi tiết đơn hàng</caption>
                                        <thead class="product-table__header">
                                            <tr>
                                                <th>
                                                    <span class="visually-hidden">Ảnh sản phẩm</span>
                                                </th>
                                                <th>
                                                    <span class="visually-hidden">Tên sản phẩm</span>
                                                </th>
                                                <th>
                                                    <span class="visually-hidden">Sổ lượng</span>
                                                </th>
                                                <th>
                                                    <span class="visually-hidden">Đơn giá</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <input id="Id-@item.Id" class="ma-san-pham" value="@item.Id" type="hidden" />
                                                <input id="GiaBan-@item.Id" value="@comon.FormatPrice(decimal.Parse(item.GiaKhuyenMai ?? item.GiaBan))" type="hidden" />
                                                <tr class="product">
                                                    <td class="product__image">
                                                        <div class="product-thumbnail">
                                                            <div class="product-thumbnail__wrapper" data-tg-static="">

                                                                <img src="@item.Img.Split(',')[0]" alt="@item.TenSanPham" style="width:60px;height:60px;object-fit:contain" class="product-thumbnail__image">

                                                            </div>
                                                        </div>
                                                    </td>
                                                    <th class="product__description">
                                                        <span class="product__description__name">
                                                            @item.TenSanPham
                                                        </span>


                                                    </th>
                                                    <td id="product__quantity-@item.Id">@item.SoLuong</td>
                                                    <td id="product__price-@item.Id" class="product__price">
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>

                                <div>
                                    <b class="visually-hidden col-lg-8 col-md-8 col-sm-8 col-xs-8 padding-0">Tổng giá trị</b>
                                    <b id="thanhTien" class="payment-due__price  col-lg-4 col-md-4 col-sm-4 col-xs-4" style="color:red;text-align: right;"></b>
                                </div>

                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top:20px">
                <input id="btnThanhToan" class="btn-proceed-checkout" title="Tiến hành thanh toán" type="button" value="Tiến hành thanh toán" />
                <a href="/gio-hang" class="btn-proceed-checkout" style="background:#ff2d37">
                    <span class="previous-link__content">Quay về giỏ hàng</span>
                </a>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top:20px">
                <span id="message" style="color:red"></span>
            </div>
            </div>
        </div>
</section>
<style>
    .btn-proceed-checkout {
        cursor: pointer;
        display: inline-block;
        background-color: #357ebd;
        border-color: #2f71a9;
        background-clip: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px transparent solid;
        border-radius: 5px;
        color: #fff;
        font-weight: 500;
        padding: .98em 1.7em;
        text-align: center;
        position: relative;
        margin-right:20px;
        margin-bottom:20px
    }
        .btn-proceed-checkout:hover {
            background-color: #2a6395;
            border-color: #225179;
            color: #fff;
        }
</style>
<script>
    function formatPrice_Edit(price) {
        return price.toString().replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    }
    $(".ma-san-pham").each(function (index) {
        var Id = $(this).val();
        var DonGia = $("#GiaBan-" + Id).val().replace(',', '');
        var SoLuong = $("#product__quantity-" + Id).text();
        var tong = parseFloat(DonGia) * parseFloat(SoLuong);
        $("#product__price-" + Id).text(formatPrice_Edit(tong) + " ₫");
    });

    var setTongGia = function () {
        var sum = 0;
        $(".product__price").each(function (index) {
            var gia = $(this).text().replace(',', '')
            sum = parseFloat(sum) + parseFloat(gia);
            $("#thanhTien").text(formatPrice_Edit(sum) + " ₫");
        });
    }
    setTongGia();
    $('#btnThanhToan').click(function () {
        var Ten = $("#Name").val();
        var Sdt = $("#Sdt").val();
        var DiaChi = $("#DiaChi").val();
        var GhiChu = $("textarea[id=GhiChu]").val();
        var data = {
            Ten: Ten,
            Sdt: Sdt,
            DiaChi: DiaChi,
            GhiChu: GhiChu
        };
        var dataToSend = JSON.stringify(data);
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '/SanPham/HoanThanhThanhToan',
            dataType: "json",
            data: dataToSend,
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result.Sucsses == "Sucsses") {
                    window.location.href = '/';
                }
                else {
                    $("#message").text("Có lỗi xảy ra, vui lòng nhập chính xác thông tin!");
                }
            }
        });
    });
</script>