﻿
<nav class="navbar header-navbar pcoded-header">
    <div class="navbar-wrapper">
        <div class="navbar-logo">
            <a href="index.html">
                <img class="img-fluid" src="/Areas/Admin/Css/files/assets/images/logo.png" alt="Theme-Logo" />
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="#!">
                <i class="feather icon-menu icon-toggle-right"></i>
            </a>
            <a class="mobile-options waves-effect waves-light">
                <i class="feather icon-more-horizontal"></i>
            </a>
        </div>
        <div class="navbar-container container-fluid">
            <ul class="nav-right">
              
                <li class="user-profile header-notification">
                    <div class="dropdown-primary dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">

                            @if (Session["Fullname"] != null)
                            {
                                <img src="/Areas/Admin/Css/files/assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                                <span>@Session["Fullname"].ToString()</span>
                                <i class="feather icon-chevron-down"></i>
                            }


                        </div>
                        <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                            <li>
                                <a href="/doi-mat-khau">
                                    <i class="feather icon-user"></i> Đổi mật khẩu
                                </a>
                            </li>
                            <li>
                                <a href="/dang-xuat">
                                    <i class="feather icon-log-out"></i> Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
