﻿@using System.Web.Optimization
@using Web_app.Common;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title
        }
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="~/Areas/Admin/img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/bower_components/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="/Areas/Admin/Css/files/assets/pages/waves/css/waves.min.css" type="text/css" media="all">

    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/icon/feather/css/feather.css">

    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/css/font-awesome-n.min.css">

    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/css/widget.css">

    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/icon/feather/css/feather.css">

    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/icon/themify-icons/themify-icons.css">

    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/icon/font-awesome/css/font-awesome.min.css">



    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/pages/data-table/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">

    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/css/component.css">

    @*<link rel="stylesheet" href="/Areas/Admin/Css/files/bower_components/select2/css/select2.min.css" />*@

    @*<link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/bower_components/bootstrap-multiselect/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/bower_components/multiselect/css/multi-select.css" />*@

    @*@Styles.Render("~/Bundles/css")*@
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            @Html.Partial("_HeaderAdmin")

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    @Html.Partial("_SidebarAdmin")
                    <div class="pcoded-content">
                        @RenderBody()
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*@Scripts.Render("~/Bundles/js")*@

    <script type="text/javascript" src="/Areas/Admin/Css/files/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Css/files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Css/files/bower_components/bootstrap/js/bootstrap.min.js"></script>

    <script src="/Areas/Admin/Css/files/assets/pages/waves/js/waves.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="/Areas/Admin/Css/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>

    <script src="/Areas/Admin/Css/files/assets/js/pcoded.min.js" type="text/javascript"></script>
    <script src="/Areas/Admin/Css/files/assets/js/vertical/vertical-layout.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="/Areas/Admin/Css/files/assets/js/script.min.js"></script>

    @RenderSection("ViewSpecificJavascriptAdmin", required: false)

</body>
</html>