﻿@using DataAccess.Entities;
@model ConfigEntity
@{
    ViewBag.Img = "http://reviewdiadiemanuong.com/Content/css/logo.png";
    ViewBag.Title = "Điều khoản sử dụng website review địa điểm ăn uống";
    ViewBag.Keyword = "Điều khoản sử dụng website review địa điểm ăn uống";
    ViewBag.Description = "Điều khoản sử dụng website review địa điểm ăn uống";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid disable-text-selection">
    <div class="row">
        <div class="col-12 col-12-mobile">
            <div class="mb-2">
                <h1>
                    <a class="font-weight-bold" href="/">
                        <img class="img-header" src="~/Content/css/ChuHeader.png" /> địa điểm ăn uống
                    </a>
                </h1>
                <p class="sologan"></p>
                <nav class="breadcrumb-container d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0" style="padding:0">
                        <li class="breadcrumb-item"><a href="/" style="font-weight:bold">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="#">Điều khoản sử dụng</a></li>
                    </ol>
                </nav>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <p>@Html.Raw(Model.ContentFooter ?? "")</p>
                </div>
            </div>

        </div>
    </div>
</div>


