﻿@using DataAccess.Entities;
@model ConfigEntity
<section class="section_service">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="wraptem">
                    <span class="img"><img src="/Content/project/images/srv_1.png" alt="icon"></span>
                    <div class="content_right">
                        <p>Ưu đãi phí vận chuyển</p>
                        <span>Ưu đãi phí vận chuyển nội thành</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="wraptem">
                    <span class="img"><img src="/Content/project/images/srv_2.png" alt="icon"></span>
                    <div class="content_right">
                        <p>Đổi trả hàng</p>
                        <span>Đổi trả hàng nếu hàng lỗi</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="wraptem">
                    <span class="img"><img src="/Content/project/images/srv_3.png" alt="icon"></span>
                    <div class="content_right">
                        <p>Tiết kiệm thời gian</p>
                        <span>Nhanh gọn hơn qua online</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="wraptem">
                    <span class="img"><img src="/Content/project/images/srv_4.png" alt="icon"></span>
                    <div class="content_right">
                        <p>Tư vấn trực tiếp</p>
                        <span>Đội ngũ tư vấn nhiệt tình</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="site-footer">
        <div class="mid-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="widget-ft first">
                            <div class="collapse" id="collapseListMenu01">
                                @Html.Raw(Model.GoogleMap ?? "")
                                @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29737.184800592768!2d105.7979369044414!3d21.305163577097037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31351d3b6c7fbed7%3A0xf2ba53a0e97d5260!2zTmFtIFPGoW4sIFPDs2MgU8ahbiwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1606805840558!5m2!1svi!2s" width="100%" height="268" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>*@
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="bg-footer-bottom copyright clearfix">
            <div class="container">
                <div class="inner clearfix">
                    <div class="row tablet">
                        <div id="copyright" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 a-center fot_copyright">
                            <span class="wsp">
                                <span class="mobile">
                                    &copy; Bản quyền thuộc về <b><a href="https://palletnamson.com/" title="Delta Web" target="_blank">@Model.Company</a></b>
                                    <span class="hidden-xs"> | </span>
                                </span>
                                <span class="opacity1">Hotline</span>
                                <a href="tel:@Model.Hotline" rel="nofollow" title="Pallet Nam Sơn" target="_blank">@Model.Hotline</a>
                            </span>
                        </div>
                    </div>
                </div>
                <a href="#" id="back-to-top" class="backtop" title="Lên đầu trang"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>
<section class="footer_top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="item_f">
                    <h4 class="title-menu">Gọi tư vấn (7h-22h)</h4>
                    <div class="w_f">
                        <i class="fa fa-phone"></i>
                        <a class="fone" href="tel:@Model.Hotline">
                            @Model.Hotline
                        </a>
                    </div>
                    <p>Tất cả các ngày trong tuần</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="item_f">
                    <h4 class="title-menu">Gọi khiếu nại (8h-20h)</h4>
                    <div class="w_f">
                        <i class="fa fa-phone"></i>
                        <a class="fone" href="tel:0388287614">
                            @Model.Hotline
                        </a>
                    </div>
                    <p>Các ngày trong tuần (trừ ngày lễ)</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <h4 class="title-menu">
                    <span>
                        Nhận ưu đãi ngay
                    </span>
                </h4>
                <ul class="contact contact_mail">
                    <li>
                        @Html.Action("RegisterEmail", "Home")

                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <h4 class="title-menu">
                    <span>
                        Theo dõi ngay
                    </span>
                </h4>
                <ul class="follow_option">
                    <li>
                        <a href="@Model.LinkFace" title="Theo d&otilde;i Facebook Delta Shoes"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="@Model.LinkGoogle" title="Theo d&otilde;i Google Plus Delta Shoes"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="#" title="Theo d&otilde;i Instagam Delta Shoes"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="@Model.LinkYoutube" title="Theo d&otilde;i Youtube Delta Shoes"><i class="fa fa-youtube-play"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>