﻿@using Web_app.Models;
@model ConfigViewModel
@{
    ViewBag.Img = "http://reviewdiadiemanuong.com/Content/css/logo.png";
    ViewBag.Title = @HttpUtility.HtmlDecode(Model.SeoTitle != null ? Model.SeoTitle : Model.Company);
    ViewBag.Keyword = @HttpUtility.HtmlDecode(Model.SeoKeyWord != null ? Model.SeoKeyWord : Model.Company);
    ViewBag.Description = @HttpUtility.HtmlDecode(Model.SeoDesciption != null ? Model.SeoKeyWord : Model.Company);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script src="~/Content/project/js/main.js"></script>
<script>
    $(window).load(function () {
        $("body").removeClass();
    });
</script>
<!-- Header JS -->
<!--<section class="awe-section-1">
    <section class="section_slider owl_nav_custome2x">
        <div class="home-slider owl-carousel owl-theme owl-carousel-loop not-thuongdq" data-dot="false" data-nav="true" data-loop="true" data-play="true" data-lg-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-margin="0">
            <div class="item">
                <a href="#" class="clearfix">
                    <img src="images/assets-slider_2.jpg" alt="Slider 2">
                </a>
            </div>
        </div>
    </section>
</section>-->
<section class="awe-section-2">
    <section class="section_category">
        <div class="container">
            <div class="wrap">
                <div class="row">
                    @Html.Action("NhomSanPhamNoiBat", "SanPham")
                </div>
            </div>
        </div>
    </section>
</section>
<section class="awe-section-3">
    <section class="section_banchay">
        <div class="container">
            <div class="wrap_bg_in">
                <div class="section title_section_module a-center margin-bottom-20">
                    <h2><a href="san-pham-ban-chay.html" title="S&#7843;n ph&#7849;m b&aacute;n ch&#7841;y">Sản phẩm nổi bật</a></h2>
                </div>
                <div class="section owl_nav_custome2">
                    <div class="owl-carousel " data-dot="false" data-nav="true" data-loop="false" data-play="true" data-lg-items="5" data-md-items="5" data-sm-items="4" data-xs-items="2" data-margin="15">
                        @Html.Action("SanPhamNoiBat", "SanPham")
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

@Html.Action("NhomSanPhamTrangChu", "SanPham")
<!-- Add to cart -->

<div class="bizweb-product-reviews-module"></div>
