﻿
@using DataAccess.Entities;
@model ConfigEntity
@{
    ViewBag.Img = "http://tuvilyso.org.vn/logo.png";
    ViewBag.Title = @HttpUtility.HtmlDecode(Model.Company ?? "");
    ViewBag.Keyword = @HttpUtility.HtmlDecode(Model.Company ?? "");
    ViewBag.Description = @HttpUtility.HtmlDecode(Model.Company ?? "");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .map-area iframe {
        width: 100%;
    }
</style>
<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Google Maps Start ##### -->
<div class="map-area">
    @Html.Raw(Model.GoogleMap ?? "")
</div>
<!-- ##### Google Maps End ##### -->
<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100-0">
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-6">
                <div class="contact-content mb-100">
                    <h4>Tôi giúp gì được cho bạn?</h4>
                    <p>Hãy để lại lời nhắn, tôi sẽ liên hệ lại với bạn!</p>
                    <!-- Single Contact Info -->
                    <div class="single-contact-info">
                        <h6>Địa chỉ:</h6>
                        <h4>@Model.Address</h4>
                    </div>

                    <!-- Single Contact Info -->
                    <div class="single-contact-info">
                        <h6>Email:</h6>
                        <h4>@Model.Email</h4>
                    </div>

                    <!-- Single Contact Info -->
                    <div class="single-contact-info">
                        <h6>Điện thoại:</h6>
                        <h4>@Model.Phone</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="contact-content mb-100">
                    <h4>Thông tin liên hệ</h4>

                    <!-- Contact Form Area -->
                    <div class="contact-form-area">
                        <div class="form-group">
                            <input type="text" class="form-control" id="contact-name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="contact-email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="contact-phone" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                        </div>
                        <button type="button" id="btnSubmitContact" class="btn nikki-btn mt-15">Để lại thông tin</button>
                        <p id="Mesage" style="color:green; display:none">Cảm ơn bạn đã để lại thông tin!</p>
                        <p id="MesageError" style="color:red; display:none">Mời bạn nhập đầy đủ thông tin!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->
<script>
    $('#btnSubmitContact').click(function (e) {
        var name = $("#contact-name").val();
        var email = $("#contact-email").val();
        var phone = $("#contact-phone").val();
        var message = $("#message").val();
        if (email != null && email != "" && phone != null && phone != "" && name != null && name != "") {
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/Home/SendEmailContact',
                data: JSON.stringify({ name: name, email: email, phone: phone, message: message}),
                dataType: 'json',
                success: function (result) {
                    if (result.result === "Success") {
                        $("#Mesage").css("display", "block");
                        $("#MesageError").css("display", "none");
                    }
                }
            });
        }
        else {
            $("#MesageError").css("display", "block");
            $("#Mesage").css("display", "none");
        }
    });
</script>
