﻿@using DataAccess.Entities;
@model List<AdvertisementEntity>

@foreach (var item in Model.Take(1))
{
    <a href="/" class="logo-wrapper ">
        <img src="@item.Img" alt="@item.Title">
    </a>
}

