﻿@using DataAccess.Entities;
@model List<MenuEntity>
@{
    var link = "#";
    var linkSub = "#";
}
<ul class="item_big">
    <li class="nav-item active ">
        <a class="a-img " href="/"><span>Trang chủ</span></a>
    </li>
    @foreach (var item in Model.Where(c => c.ParentId == 0))
    {
        if (!string.IsNullOrEmpty(item.Link))
        {
            link = item.Link;
        }
        else if (!string.IsNullOrEmpty(item.Url))
        {
            link = item.Url;
        }
        else
        {
            link = "#";
        }
        <li class="nav-item ">
            @if (link == "#")
            {
                if (Model.Where(c => c.ParentId == int.Parse(item.Id.ToString())).Count() > 0)
                {
                    <a class="a-img " href="/Home/PageDetail?Id=@item.Id"><span>@item.Title</span><i class="fa fa-angle-down"></i></a>
                }
                else
                {
                    <a class="a-img " href="/Home/PageDetail?Id=@item.Id"><span>@item.Title</span></a>
                }
            }
            else
            {
                if (Model.Where(c => c.ParentId == int.Parse(item.Id.ToString())).Count() > 0)
                {
                    <a class="a-img " href="@link"><span>@item.Title</span><i class="fa fa-angle-down"></i></a>
                }
                else
                {
                    <a class="a-img " href="@link"><span>@item.Title</span></a>
                }

            }
            @if (Model.Any(c => c.ParentId == int.Parse(item.Id.ToString())))
            {
                <ul class="item_small hidden-sm hidden-xs">
                    @foreach (var itemSub in Model.Where(d => d.ParentId == item.Id))
                    {
                        if (!string.IsNullOrEmpty(itemSub.Link))
                        {
                            linkSub = itemSub.Link;
                        }
                        else if (!string.IsNullOrEmpty(itemSub.Url))
                        {
                            linkSub = itemSub.Url;
                        }
                        else
                        {
                            linkSub = "#";
                        }
                        <li>
                            @if (linkSub == "#")
                            {
                                <a href="/Home/PageDetail?Id=@itemSub.Id">@itemSub.Title</a>
                            }
                            else
                            {
                                <a href="@linkSub">@itemSub.Title</a>
                            }
                        </li>
                    }
                </ul>
            }
        </li>
    }

    @*<li class="nav-item ">
            <a class="a-img " href="giay-the-thao.html"><span>Gi&agrave;y th&#7875; thao</span><i class="fa fa-angle-down"></i></a>
            <ul class="item_small hidden-sm hidden-xs">
                <li>
                    <a href="giay-ultra-boots.html" title="">Gi&agrave;y ultra boots </a>
                </li>
                <li>
                    <a href="giay-chay-bo.html" title="">Gi&agrave;y ch&#7841;y b&#7897; </a>
                </li>
                <li>
                    <a href="giay-di-phuot.html" title="">Gi&agrave;y &#273;i ph&#432;&#7907;t <i class="fa fa-angle-right"></i></a>
                    <ul>
                        <li>
                            <a href="giay-chong-nuoc.html" title="">Gi&agrave;y ch&#7889;ng n&#432;&#7899;c</a>
                        </li>
                        <li>
                            <a href="giay-chong-dinh.html" title="">Gi&agrave;y ch&#7889;ng &#273;inh</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="giay-bitis.html" title="">Gi&agrave;y bitis </a>
                </li>
                <li>
                    <a href="giay-nike.html" title="">Gi&agrave;y nike </a>
                </li>
            </ul>
        </li>
        <li class="nav-item ">
            <a class="a-img " href="lien-he.html"><span>Li&ecirc;n h&#7879;</span></a>
        </li>*@
</ul>

