﻿@using DataAccess.Entities;
@model List<MenuEntity>
@{
    var link = "#";
    var linkSub = "#";
}

<ul class="ul_collections">
    <li class="level0 level-top parent">
        <a href="/">Trang chủ</a>
    </li>
    @foreach (var item in Model.Where(c => c.ParentId == 0))
    {
        if (!string.IsNullOrEmpty(item.Link))
        {
            link = item.Link;
        }
        else if (!string.IsNullOrEmpty(item.Url))
        {
            link = item.Url;
        }
        else
        {
            link = "#";
        }
        <li class="level0 level-top parent">
            @if (link == "#")
            {
                if (Model.Where(c => c.ParentId == int.Parse(item.Id.ToString())).Count() > 0)
                {
                    <a href="#"><span>@item.Title</span><i class="fa fa-angle-down"></i></a>
                }
                else
                {
                    <a href="/Home/PageDetail?Id=@item.Id"><span>@item.Title</span></a>
                }
            }
            else
            {
                if (Model.Where(c => c.ParentId == int.Parse(item.Id.ToString())).Count() > 0)
                {
                    <a href="#"><span>@item.Title</span><i class="fa fa-angle-down"></i></a>
                }
                else
                {
                    <a href="@link"><span>@item.Title</span></a>
                }

            }
            @if (Model.Any(c => c.ParentId == int.Parse(item.Id.ToString())))
            {
                <ul class="level0" style="display:none;">
                    @foreach (var itemSub in Model.Where(d => d.ParentId == item.Id))
                    {
                        if (!string.IsNullOrEmpty(itemSub.Link))
                        {
                            linkSub = itemSub.Link;
                        }
                        else if (!string.IsNullOrEmpty(itemSub.Url))
                        {
                            linkSub = itemSub.Url;
                        }
                        else
                        {
                            linkSub = "#";
                        }
                        <li class="level1">
                            @if (linkSub == "#")
                            {
                                <a href="/Home/PageDetail?Id=@itemSub.Id"><span>@itemSub.Title</span></a>
                            }
                            else
                            {
                                <a href="@linkSub"><span>@itemSub.Title</span></a>
                            }
                        </li>
                    }
                </ul>
            }
        </li>
    }



    @*<li class="level0 level-top parent">
        <a href="giay-the-thao.html">Gi&agrave;y th&#7875; thao</a>
        <i class="fa fa-angle-down"></i>
        <ul class="level0" style="display:none;">
            <li class="level1 ">
                <a href="giay-ultra-boots.html"> <span>Gi&agrave;y ultra boots</span> </a>
            </li>
            <li class="level1 ">
                <a href="giay-chay-bo.html"> <span>Gi&agrave;y ch&#7841;y b&#7897;</span> </a>
            </li>
            <li class="level1 ">
                <a href="giay-di-phuot.html"> <span>Gi&agrave;y &#273;i ph&#432;&#7907;t</span> </a>
                <i class="fa fa-angle-down"></i>
                <ul class="level1" style="display:none;">
                    <li class="level2 ">
                        <a href="giay-chong-nuoc.html"><span>Gi&agrave;y ch&#7889;ng n&#432;&#7899;c</span></a>
                    </li>
                    <li class="level2 ">
                        <a href="giay-chong-dinh.html"><span>Gi&agrave;y ch&#7889;ng &#273;inh</span></a>
                    </li>
                </ul>
            </li>
            <li class="level1 ">
                <a href="giay-bitis.html"> <span>Gi&agrave;y bitis</span> </a>
            </li>
            <li class="level1 ">
                <a href="giay-nike.html"> <span>Gi&agrave;y nike</span> </a>
            </li>
        </ul>
    </li>
    <li class="level0 level-top parent">
        <a href="lien-he.html">Li&ecirc;n h&#7879;</a>
    </li>*@

</ul>
