﻿
@using DataAccess.Entities;
@using Web_app.Common;
@model MenuEntity
@{
    ViewBag.Img = "http://tuvilyso.org.vn/" + @Model.Img + "";
    ViewBag.Title = @HttpUtility.HtmlDecode(Model.Title ?? "");
    ViewBag.Keyword = @HttpUtility.HtmlDecode(Model.Title ?? "");
    ViewBag.Description = @HttpUtility.HtmlDecode(Model.Title ?? "");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Blog Content Area Start ##### -->
<section class="blog-content-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Blog Posts Area -->
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">
                    <div class="row">
                            <div class="post-content">

                                <div class="text-center mb-50">
                                    <h2 class="post-title">@Model.Title</h2>
                                </div>
                                <!-- Post Text -->
                                <div class="post-text">
                                    <!-- Share -->
                                    <p>@Html.Raw(Model.Detail ?? "")</p>
                                </div>
                            </div>


                    </div>
                </div>

            </div>
            @Html.Action("CotPhai", "News")
        </div>
    </div>
</section>
<!-- ##### Blog Content Area End ##### -->
