﻿
<div class="margin-bottom-0">
    <input type="email" id="email" placeholder="Nhập email của bạn">
    <button class="btn btn-primary subscribe" id="btnSubmit" name="subscribe">Đăng ký</button>
    <p id="Mesage" style="color:green; display:none">Cảm ơn bạn đã để lại thông tin!</p>
</div>
<script>
    $('#btnSubmit').click(function (e) {
        var emailTo = $("#email").val();
        if (emailTo != null || emailTo != "") {
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/Home/SendEmail',
                data: JSON.stringify({ email: emailTo }),
                dataType: 'json',
                success: function (result) {
                    if (result.result === "Success") {
                        $("#Mesage").css("display", "block");
                    }
                }
            });
        }
    });
</script>