﻿@using DataAccess.Entities;
@model ConfigEntity
<div class="footer-social-info d-flex align-items-center justify-content-between">
    <a href="@Model.LinkFace"><i class="fa fa-facebook"></i><span>Facebook</span></a>
    <a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
    <a href="@Model.LinkGoogle"><i class="fa fa-google-plus"></i><span>Google +</span></a>
    <a href="#"><i class="fa fa-linkedin"></i><span>linkedin</span></a>
    <a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a>
    <a href="#"><i class="fa fa-vimeo"></i><span>Vimeo</span></a>
    <a href="@Model.LinkYoutube"><i class="fa fa-youtube"></i><span>Youtube</span></a>
</div>