﻿@using DataAccess.Entities;
@model ConfigEntity

<div class="top-social-info">
    <a href="@Model.LinkFace" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="@Model.LinkTikTok" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="@Model.LinkYoutube" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    <a href="@Model.LinkGoogle" data-toggle="tooltip" data-placement="bottom" title="Google +"><i class="fa fa-google" aria-hidden="true"></i></a>
</div>
