﻿<form class="input-group search-bar" action="/Home/tim-kiem" method="post">
    <input type="search" name="Keyword" value="" placeholder="Tìm kiếm tên sản phẩm... " class="input-group-field st-default-search-input search-text" required>
    <span class="input-group-btn">
        <button class="btn icon-fallback-text">
            <i class="fa fa-search"></i>
        </button>
    </span>
</form>
