﻿<header class="main-header">
    @* BEGIN Logo *@
    @*<a href="@Url.Action("Index", "Home")" class="logo">*@
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>S</b>K</span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg"><b>SOKO</b></span>
    @*</a>*@
    @* END Logo *@
    @* BEGIN Header *@
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
               
                @* BEGIN User Account Menu *@
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        @*<img src="~/Content/img/user.jpg" class="user-image" alt="User Image">*@
                        <i class="fa fa-fw fa-user"></i>


                    

                    </a>
                    @*<ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="~/Content/img/user.jpg" class="img-circle" alt="User Image">
                            <p>
                                Alexander Pierce - Web Developer
                                <small>Member since Nov. 2012</small>
                            </p>
                        </li>
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </div>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>*@
                </li>
                @* END User Account Menu *@
                @* BEGIN Control Sidebar Toggle Button *@
                @*<li style="margin-right: 10px;margin-top: 10px;">
                    <form action="@Url.Action("Logout","Home")">
                        <input id="Submit1" class="btn btn-block btn-danger" type="submit" value="ログアウト" />
                    </form>
                </li>*@
                @* END Control Sidebar Toggle Button *@
            </ul>
        </div>
    </nav>
</header>