﻿@using System.Web.Optimization
@using Web_app.Common;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title
        }
    </title>
    <meta name="Keyword" content="@ViewBag.Keyword" />
    <meta name="Description" content="@ViewBag.Description" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:image" content="@ViewBag.Img" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="vi_VN" />
    <link rel="canonical" href="http://www.reviewdiadiemanuong.com/" />
    <link rel="shortlink" href="http://www.reviewdiadiemanuong.com/" />
    <meta property="og:site_name" content="@ViewBag.Title" />
    <meta property="og:url" content="@ViewBag.Name" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="@ViewBag.Title" />
    <meta name="twitter:title" content="@ViewBag.Title" />
    <meta itemprop="name" content="@ViewBag.Title" />
    <meta itemprop="description" content="@ViewBag.Description">
    <meta name="dcterms.title" content="@ViewBag.Title" />
    <meta name="dcterms.type" content="Text" />
    <meta name="dcterms.format" content="text/html" />
    <meta name="dcterms.identifier" content="http://www.reviewdiadiemanuong.com/" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">*@
    <link rel="shortcut icon" href="~/favicon.ico" />
    @*@Styles.Render("~/Bundles/css")*@
    <link href="~/Content/project/css/style.css" rel="stylesheet" />
    <!-- Build Main CSS -->
    <link href="~/Content/project/css/base.css" rel="stylesheet" />
    <link href="~/Content/project/css/style_base.css" rel="stylesheet" />
    <link href="~/Content/project/css/module.css" rel="stylesheet" />
    <link href="~/Content/project/css/responsive.css" rel="stylesheet" />
    <script src="~/Content/project/js/main.js"></script>

    @*<script src="~/Content/js/jquery-1.11.1.min.js"></script>*@
    @*<link href="~/Content/PagedList.css" rel="stylesheet" />*@
    @Html.Action("CodeHeader", "Home")
</head>
<body id="lstDG">
    <div class="hidden-md hidden-lg opacity_menu"></div>
    <div class="op_login"></div>
    <!-- Main content -->
    <header class="header ">
        <div class="mid-header wid_100">
            <div class="container">
                <div class="row">
                    <div class="content_header">
                        <div class="header-main">
                            <div class="menu-bar-h nav-mobile-button hidden-md hidden-lg">
                                <a href="#nav-mobile">
                                    <img src="~/Content/project/images/i_menubar.png" alt="icon menu">
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="logo">
                                    @Html.Action("Logo", "Home")
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 colsm_custome">
                                <div class="header-right">
                                    <div class="top-cart-contain f-right">
                                        <div class="mini-cart text-xs-center">
                                            <div class="heading-cart cart_header">
                                                @if (Session["GioHang"] != null)
                                                {
                                                    var count = Session["GioHang"].ToString().Split(',').Count();
                                                    <a class="img_hover_cart" href="/gio-hang" title="Giỏ hàng">
                                                        <div class="icon_hotline">
                                                            <span id="SoGioHang">@count</span>
                                                            <i class="fa fa-shopping-basket"></i>
                                                        </div>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="img_hover_cart" href="/gio-hang" title="Giỏ hàng">
                                                        <div class="icon_hotline">
                                                            <span id="SoGioHang"></span>
                                                            <i class="fa fa-shopping-basket"></i>
                                                        </div>
                                                    </a>
                                                }

                                            </div>
                                            @*<div class="top-cart-content">
                                                    <ul id="cart-sidebar" class="mini-products-list count_li">
                                                        <li class="list-item">
                                                            <ul></ul>
                                                        </li>
                                                        <li class="action">
                                                            <ul>
                                                                <li class="li-fix-1">
                                                                    <div class="top-subtotal">
                                                                       Tổng tiền thanh toán:
                                                                        <span class="price"></span>
                                                                    </div>
                                                                </li>
                                                                <li class="li-fix-2" style="">
                                                                    <div class="actions">
                                                                        <a href="cart.html" class="btn btn-primary" title="Gi&#7887; h&agrave;ng">
                                                                            <span>Gi&#7887; h&agrave;ng</span>
                                                                        </a>
                                                                        <a href="checkout.html" class="btn btn-checkout btn-gray" title="Thanh to&aacute;n">
                                                                            <span>Thanh to&aacute;n</span>
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="support hidden-sm hidden-xs" onclick="location.href='tel:0911714123';">
                                    <p>Tư vấn 24/24</p>
                                    <span>Gọi ngay 0911714123</span>
                                </div>
                                <div class="col-search-engine">
                                    <div class="iconsearch hidden-lg hidden-md"><i class="fa fa-search"></i></div>
                                    <div class="header_search">
                                        @Html.Action("TimKiem", "Home")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap_main hidden-xs hidden-sm">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 relative">
                        <div class="bg-header-nav hidden-xs hidden-sm">
                            <div class="row row-noGutter-2">
                                <nav class="header-nav">
                                    @Html.Action("Menu", "Home")
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Menu mobile -->
    <div class="menu_mobile sidenav max_991 hidden-md hidden-lg" id="mySidenav">
        @Html.Action("MenuMobile", "Home")
    </div>
    <!-- End -->
    <div id="menu-overlay" class=""></div>
    @RenderBody()
    @Html.Action("Footer", "Home")

    <script src="~/Content/project/js/assets-option-selectors.js" type="text/javascript"></script>
    <div class="ajax-load">
        <span class="loading-icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewbox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributename="opacity" attributetype="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatcount="indefinite"></animate>
            <animate attributename="height" attributetype="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatcount="indefinite"></animate>
            <animate attributename="y" attributetype="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatcount="indefinite"></animate>
               </rect>
            <rect x="8" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributename="opacity" attributetype="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatcount="indefinite"></animate>
            <animate attributename="height" attributetype="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatcount="indefinite"></animate>
            <animate attributename="y" attributetype="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatcount="indefinite"></animate>
               </rect>
            <rect x="16" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributename="opacity" attributetype="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatcount="indefinite"></animate>
            <animate attributename="height" attributetype="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatcount="indefinite"></animate>
            <animate attributename="y" attributetype="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatcount="indefinite"></animate>
               </rect>
            </svg>
        </span>
    </div>
    <div class="loading awe-popup">
        <div class="overlay"></div>
        <div class="loader" title="2">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewbox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributename="opacity" attributetype="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatcount="indefinite"></animate>
            <animate attributename="height" attributetype="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatcount="indefinite"></animate>
            <animate attributename="y" attributetype="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatcount="indefinite"></animate>
               </rect>
            <rect x="8" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributename="opacity" attributetype="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatcount="indefinite"></animate>
            <animate attributename="height" attributetype="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatcount="indefinite"></animate>
            <animate attributename="y" attributetype="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatcount="indefinite"></animate>
               </rect>
            <rect x="16" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributename="opacity" attributetype="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatcount="indefinite"></animate>
            <animate attributename="height" attributetype="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatcount="indefinite"></animate>
            <animate attributename="y" attributetype="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatcount="indefinite"></animate>
               </rect>
            </svg>
        </div>
    </div>
    <script src="~/Content/project/js/assets-main.js" type="text/javascript"></script><!-- Product detail JS,CSS -->
    <script>
        var font = 'myCss';
        if (!document.getElementById(font)) {
            var headx = document.getElementsByTagName('head')[0];
            var font_link = document.createElement('link');
            font_link.id = font;
            font_link.rel = 'stylesheet';
            font_link.type = 'text/css';
            font_link.href = '//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
            font_link.media = 'all';
            headx.appendChild(font_link);
        }
    </script>
    <!-- ================= Google Fonts ================== -->
    <link href="//fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" type="text/css">
    @RenderSection("ViewSpecificJavascript", required: false)
</body>
</html>