﻿@using WebHelpers.Mvc5
<style>
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
        font-size: 11px;
    }
</style>
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@
        <ul class="sidebar-menu">
            <li class="treeview @Menu.IfActiveItem("management.experiment.index.business", "active")">
                <a href="@Url.Action("IndexBusiness", "Experiment")">
                    <i class="fa fa-globe"></i> <span>試験反申請照会・審査</span>
                </a>
            </li>
            <li class="treeview @Menu.IfActiveItem("management.experiment.index.techology", "active")">
               
                <a href="@Url.Action("IndexTechology", "Experiment")">
                    <i class="fa fa-globe"></i> <span>品質測定依頼と照会</span>
                </a>
            </li>
            <li class="treeview @Menu.IfActiveItem("management.experiment.index.quanlity", "active")">
                <a href="@Url.Action("IndexQuanlity", "Experiment")">
                    <i class="fa fa-globe"></i> <span>測定結果入力</span>
                </a>
            </li>
            <li class="treeview @Menu.IfActiveItem("management.experiment.query.quanlity", "active")">
                <a href="@Url.Action("QueryQuanlity", "Experiment")">
                    <i class="fa fa-globe"></i> <span>品質測定結果の照会</span>
                </a>
            </li>
            @*@if (Session["NameUser"].ToString() == "MemberBusiness" || Session["NameUser"].ToString() == "ManagerBusiness")
        {
            <li class="treeview @Menu.IfActiveItem("management.experiment.index.business", "active")">
                <a href="@Url.Action("IndexBusiness", "Experiment")">
                    <i class="fa fa-globe"></i> <span>試験反申請照会・審査画面</span>
                </a>
            </li>
        }
        else
        {
            <li class="treeview">
                <a id="setModal" href="#">
                    <i class="fa fa-globe"></i> <span>試験反申請照会・審査画面</span>
                </a>
            </li>
        }
        @if (Session["NameUser"].ToString() == "MemberTechnology" || Session["NameUser"].ToString() == "ManagerBusiness")
        {
            <li class="treeview @Menu.IfActiveItem("management.experiment.index.techology", "active")">
                <a href="@Url.Action("IndexTechology", "Experiment")">
                    <i class="fa fa-globe"></i> <span>品質測定依頼と照会</span>
                </a>
            </li>
        }
        else
        {
            <li class="treeview">
                <a id="setModal" href="#">
                    <i class="fa fa-globe"></i> <span>品質測定依頼と照会</span>
                </a>
            </li>
        }*@
        </ul>
        @* END Menu *@


    </section>
</aside>

@*<div class="modal fade" id="modal-history" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding: 30px;">
                <div class="form-group" style="margin-bottom:15px;">
                    <label class="col-md-12 padding0" style="text-align:center">当該機能の使用権限がありません</label>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>*@
<script src="~/Content/js/jquery.min.js"></script>
<script>
    $("#setModal").click(function () {
        $('#modal-history').modal('show');
    });
</script>