﻿
@using Web_app.Models;
@model DonHangViewModel
<style>
    .form-group {
        margin-bottom: 1.25em;
        float: left;
        width: 100%;
    }

    .text-red {
        color: red;
    }
</style>
<form action="/Admin_DonHang/Add_DonHang" method="post">
    <input id="Id" name="Id" type="hidden" />
    <div class="modal fade md-effect-11" id="modal-DonHang" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thông đơn hàng</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="col-sm-6" style="float:left">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Tên sản phẩm</label>
                            <div class="col-sm-7">
                                <p id="TenSanPham" class="text-custom"></p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Số lượng</label>
                            <div class="col-sm-7">
                                <p id="SoLuong" class="text-danger"></p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Đơn giá</label>
                            <div class="col-sm-7">
                                <p id="DonGia" class="text-danger"></p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Loại thanh toán</label>
                            <div class="col-sm-7">
                                <p id="LoaiThanhToan" class="text-success"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="float:left">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Tên khách hàng</label>
                            <div class="col-sm-7">
                                <p id="TenKhachHang" class="text-custom"></p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Địa chỉ</label>
                            <div class="col-sm-7">
                                <p id="DiaChi" class="text-custom"></p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Số điện thoại</label>
                            <div class="col-sm-7">
                                <p id="Sdt" class="text-custom"></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Ghi chú</label>
                            <div class="col-sm-7">
                                <textarea id="GhiChu" name="GhiChu" class="form-control" rows="10" cols="20" readonly></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Ngày mua</label>
                            <div class="col-sm-7">
                                <p id="NgayMua" class="text-success"></p>
                            </div>
                        </div>
                    </div>
                    <hr style="width:100%;float:left"/>
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tổng giá</label>
                            <div class="col-sm-10">
                                <p id="TongGia" class="text-danger" style="font-weight:bold"></p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Xác nhận đã hoàn thành</label>
                            <div class="col-sm-10">
                                <input type="checkbox" id="Active" name="Active" value="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary waves-effect waves-light ">Cập nhật tình trạng đơn hàng</button>
                    <button type="button" id="btnExport" class="btn btn-primary waves-effect waves-light ">Xuất đơn hàng dạng excel</button>
                </div>
            </div>
        </div>
    </div>
</form>
