﻿
@using Web_app.Models;
@model AdvertisementViewModel

<form action="/Admin_Advertisement/Add_Img" method="post">
    <input id="Id" name="Id" type="hidden" />
    <div class="modal fade md-effect-11" id="modal-img" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm mới, chỉnh sửa hình ảnh</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Chọn vị trí</label>
                        <div class="col-sm-10">
                            <select id="Location" name="Location">
                                <option value="0">--- Chọn vị trí ---</option>
                                <option value="1">Logo</option>
                                <option value="2">Slide</option>
                                <option value="3">Logo Footer</option>
                                <option value="4">Quảng cáo trái</option>
                                <option value="5">Quảng cáo phải</option>
                                <option value="6">Logo đối tác</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tiêu đề hình ảnh</label>
                        <div class="col-sm-10">
                            <input type="text" name="Title" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Link liên kết</label>
                        <div class="col-sm-10">
                            <input type="text" name="Link" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Ảnh đại diện</label>
                        <div class="col-sm-8">
                            <div class="col-sm-4" style="float:left;padding-left:0">
                                <input type="text" name="Img" id="Image" readonly class="form-control" />
                            </div>
                            <div class="col-sm-2" style="float:left">
                                <input name="upload" id="uploadImg" type="file" value="Tải hình ảnh">
                            </div>
                            <div class="col-sm-6" style="float:left">
                                <img id="AnhDaiDien" style="max-width:100%;max-height:100px">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mô tả</label>
                        <div class="col-sm-10">
                            <textarea id="Desciption" name="Desciption" class="form-control" rows="10" cols="20"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Thứ tự hiển thị</label>
                        <div class="col-sm-10">
                            <input type="number" name="OrderImg" class="form-control" value="0" min="0" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Kích hoạt</label>
                        <div class="col-sm-10">
                            <input type="checkbox" id="Active" name="Active" checked value="0">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary waves-effect waves-light ">Cập nhật thông tin</button>
                </div>
            </div>
        </div>
    </div>
</form>