﻿
@using Web_app.Models;
@model UserAdminViewModel

<form action="/User_Admin/add-user" method="post">
    @Html.AntiForgeryToken()
    <input id="Id" name="Id" type="hidden" />
    <div class="modal fade md-effect-11" id="modal-admin-user" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm mới, chỉnh sửa thông tin user</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Họ và tên</label>
                        <div class="col-sm-10">
                            <input type="text" name="Fullname" class="form-control">
                            @Html.ValidationMessageFor(m => m.Fullname, "", new { @class = "col-form-label" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tài khoản</label>
                        <div class="col-sm-10">
                            <input type="text" name="Username" maxlength="50" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mật khẩu</label>
                        <div class="col-sm-10">
                            <input type="password" name="Password" maxlength="50" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" name="Email" maxlength="50" inputmode="email" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-10">
                            <input type="text" name="Phone" maxlength="10" inputmode="tel" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Phân quyền</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.Role, new SelectList(Model.Roles, "Id", "NameRole", 0), "", new { Id = "Role", Name = "Role", @class = "col-sm-12 chose-role"})
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary waves-effect waves-light ">Cập nhật thông tin</button>
                </div>
            </div>
        </div>
    </div>
</form>